$TTL    604800
@       IN      SOA     ns1.example.com. admin.example.com. (
                              2024103101         ; Serial
                              604800             ; Refresh
                              86400              ; Retry
                              2419200            ; Expire
                              604800 )           ; Negative Cache TTL
;
; Name servers
@       IN      NS      ns1.example.com.

; A records
ns1                     IN      A       192.168.56.11
lb01                    IN      A       192.168.56.11
www                     IN      A       192.168.56.11
wordpress               IN      A       192.168.56.11

; Web servers
web01                   IN      A       192.168.56.21
web02                   IN      A       192.168.56.22

; Infrastructure servers
storage01               IN      A       192.168.56.30
db-central01            IN      A       192.168.56.40
