<VirtualHost *:8080>
    ServerName web01.example.com
    DocumentRoot /srv/web/web01
    
    <Directory /srv/web/web01>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    
    ErrorLog /var/log/httpd/web01_error.log
    CustomLog /var/log/httpd/web01_access.log combined
</VirtualHost>
