<VirtualHost *:{{ item.port }}>
    ServerName {{ item.server_name }}
    DocumentRoot {{ item.document_root }}
    
    <Directory {{ item.document_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    
    ErrorLog /var/log/httpd/{{ item.name }}_error.log
    CustomLog /var/log/httpd/{{ item.name }}_access.log combined
</VirtualHost>
